# Podstawowa konfiguracja serwera
PORT=3000
JWT_SECRET="TUTAJ_WPISZ_KLUCZ_Z_DYSKU_LAMBDY"

# Adres bazy danych (pobierz z Lambdy_PV)
DATABASE_URL="postgresql://użytkownik:hasło@host:port/baza"

# Wymagane dla stabilności na WSL
PRISMA_CLIENT_ENGINE_TYPE="binary"
PRISMA_CLI_QUERY_ENGINE_TYPE="binary"